<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="c:\temp\console-example-internal.log"
      internalLogLevel="Info" >
    
    <variable name="logDirectory" value="D:/Firework.Txt/logs/"/>
    
    <targets>
        <target xsi:type="File" name="errors" fileName="${logDirectory}/errors.log"
                layout="${longdate}|${message} |${all-event-properties} ${exception:format=tostring}" />
        <target xsi:type="File" name="netEvents" fileName="${logDirectory}/netEvents.log" layout="${date}| Stream: ${event-properties:item=streamName}| ${message}"/>
        <target xsi:type="File" name="userActions" fileName="${logDirectory}/user.log" layout="${date}| ${message}"/>
        <target xsi:type="Debug" name="debug" layout="${date}| ${message}"/>
        <target xsi:type="File" name="info" fileName="${event-properties:pathToInfo}/common.log" layout="${date}| ${message}"/>
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <logger name="NetEvent" level="Info" writeTo="netEvents" />
        <logger name="Error" level="Error" writeTo="errors" />
        <logger name="UserAction" level="Info" writeTo="userActions"/>
        <logger name="Debug" level="Debug" writeTo="debug"/>
        <logger name="Info" level="Info" writeTo="info"/>
    </rules>
</nlog>